{% extends "InfrastructureApp/base.html" %}

{% block Content %}
<div class="container">
    {{ form.non_field_errors }}
    {% if messages|length == 0 %}
    <form method="post" action="{% url 'ToolkitAdminApp.ToolkitPasswordResetView' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        {% for error in form.username.errors %}
                        <tr>
                            <td colspan="2">
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-primary" value="Reset Password" py-click="on_click_of_submit_button">
                </td>
            </tr>
        </table>
    </form>
    {% endif %}
</div>

{% include 'ToolkitAdminApp/encryption.html' %}
{% endblock Content %}
