{% extends "InfrastructureApp/base.html" %}

{% block Content %}
<div class="container">
    {{ form.non_field_errors }}
    <form method="post" action="{% url 'ToolkitAdminApp.PasswordResetOTPUsageView' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
            </tr>
            {% for error in form.username.errors %}
            <tr>
                <td colspan="2">
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>{{ form.otp.label_tag|title }}</td>
                <td>{{ form.otp }}</td>
            </tr>
            {% for error in form.otp.errors %}
            <tr>
                <td colspan="2">
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-primary" value="Reset Password" py-click="on_click_of_submit_button">
                </td>
            </tr>
        </table>
    </form>
</div>

{% include 'ToolkitAdminApp/encryption.html' %}
{% endblock Content %}
